.m_html {
	padding: 11px;
	word-wrap: break-word;
	line-height: 140%
}

.m_html img {
	max-width: 100%;
	border-style: solid;
	border-width: 0
}

.m_html table[border],
.m_html table[border] td,
.m_html table[border] tr,
.m_html table[border] th {
	border-style: solid;
	border-width: 1px
}

.m_html table[border="0"],
.m_html table[border="0"] td,
.m_html table[border="0"] tr,
.m_html table[border="0"] th {
	border-width: 0
}

.m_html ul,
.m_html ol {
	list-style: inside;
	padding-left: 1em;
	line-height: 145%
}

.m_html ul {
	list-style-type: disc
}

.m_members {
	padding: 8px 10px 14px
}

.m_members .user {
	display: inline-block
}

.m_members .user.large {
	margin-right: 15px;
	margin-bottom: 15px
}

.m_members .right {
	float: right;
	display: inline-block
}

.m_members .header {
	margin-bottom: 4px
}

.m_members .filter {
	float: right
}

.m_members .header .search {
	width: 200px;
	display: inline-block
}

.m_showcase {
	postiion: relative;
	width: 100%
}

.m_showcase div.m_showcase_view {
	position: relative;
	overflow: hidden;
	width: auto
}

.m_showcase div.m_showcase_bar {
	position: absolute;
	background-color: rgba(0, 0, 0, .7);
	height: 50px;
	opacity: 70%;
	width: 100%;
	bottom: 0;
}

.m_showcase_bar {
	top: 150px;
	left: 80px !important;
	text-align: left !important;
	background: rgba(22, 22, 22, 0.8);
	background-color: rgba(22, 22, 22, 0.8);
	max-width: 500px !important;
	bottom: inherit !important;
	padding: 10px;
	text-shadow: none;
	border: 1px solid #66cccc;
}

.m_showcase .m_showcase_bar {
	background-color: #000;
	filter: alpha(opacity=70);
	z-index: 10;
}

.m_showcase .m_showcase_description {
	color: #fff
}

.header_text_text {
	cursor: default
}

.container_body .container-minimized {
	padding: 15px;
	text-align: center;
	position: relative;
	z-index: 1000
}