body {
	background-attachment: fixed;
	color: #c3c5c7;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url("../images/background.jpg");
	background-color: #000000;
}

#page-wrap {
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-size: 12px;
	background-color: transparent;
	background-position: center;
	color: #c3c5c7;
	font-family: Tahoma;
}

a {
	color: #8cbbd4;
}

.element_avatar.simple {
	background-color: #000000;
	border: 1px solid;
	border-color: #4c5a61;
}

.page-outer-left {
	background-repeat: repeat-y;
	background-color: transparent;
	left: 0px;
	background-position: left;
	width: 0px;
}

.page-outer-right {
	width: 0px;
	background-repeat: repeat-y;
	background-color: transparent;
	right: 0px;
	background-position: right;
}

.body-wrap-2 {
	background-repeat: repeat-x;
	background-position: top left;
}

.body-wrap-3 {
	background-repeat: no-repeat;
	background-position: top right;
}

a:hover,
a:focus {
	color: #ffffff;
}

.container.with-header .container_header .header_text_text {
	text-transform: none;
	font-family: Tahoma;
	font-weight: bold;
	padding-top: 9px;
	color: #ffffff;
	font-size: 13px;
}

.container_header .title .mask {
	margin-left: 10px;
	text-align: left;
	margin-right: 20px;
}

.container.with-header .container_header {
	height: 30px;
	background-color: transparent;
}

.container.with-header .container_header .left {
	background-image: url("../images/container-top2.png");
}

.container.with-header .container_header .right {
	background-image: url("../images/container-top2.png");
}

.container.with-header.first .container_header .left {
	background-image: url("../images/container-top2.png");
}

.container.with-header.first .container_header .right {
	background-image: url("../images/container-top2.png");
}

.container .container_header {
	height: 2px;
	background-color: transparent;
}

.container .container_header .left {
	background-image: url("../images/topedge.png");
}

.container .container_header .right {
	background-image: url("../images/topedge.png");
}

.container .container_footer .left {
	background-image: url("../images/container-footer.png");
}

.container .container_footer .right {
	background-image: url("../images/container-footer.png");
}

.container .container_footer {
	background-color: transparent;
	height: 4px;
}

.container .container_body .container_left {
	background-image: url("../images/left-container-edge.png");
	width: 2px;
	background-color: transparent;
}

.container .container_body .container_right {
	background-image: url("../images/right-container-edge.png");
	width: 3px;
	background-color: transparent;
}

.container .container_body {
	padding-right: 3px;
	padding-left: 2px;
}

.container .container_content {
	background-position: top left;
	background-image: url("../images/container-bg.png");
	background-repeat: repeat;
	background-color: transparent;
}

.module {
	background-attachment: fixed;
	background-repeat: repeat-x;
	border-color: #030303;
	background-position: center;
	background-color: transparent;
}

.container .module {
	border-right-color: #273133;
	border-bottom-color: #273133;
}

.container_spacer {
	height: 8px;
}

.container_spacer.first {
	height: 1px;
}

.container_spacer.last {
	height: 7px;
}

#section-header .container_spacer.first {
	height: 3px;
}

#section-header .container_spacer.last {
	margin-bottom: 0px;
	height: 0px;
}

#section-footer .container_spacer.first {
	height: 8px;
}

#section-footer .container_spacer.last {
	height: 7px;
}

.section-border {
	width: 8px;
}

.section-divider {
	width: 7px;
}

.container.with-header.first .container_header {
	height: 30px;
}

.container.with-header.first .container_header .header_text_text {
	padding-top: 9px;
}

.container.with-header.first .container_header .title .mask {
	margin-left: 10px;
	margin-right: 20px;
}

.special_container {
	margin-top: 0px;
	margin-bottom: 0px;
}

.container_inner_bl {
	background-image: url("../images/bottom-shade.png");
}

.container_inner_br {
	background-image: url("../images/bottom-shade.png");
}

.container .container_body .container_left_bottom {
	background-image: url("../images/upper-lines.png");
}

.container .container_body .container_right_bottom {
	background-image: url("../images/upper-lines.png");
}

.container .container_body .container_left_top {
	background-image: url("../images/down-lines.png");
}

.container .container_body .container_right_top {
	background-image: url("../images/down-lines.png");
}

.module {
	margin-top: 0px;
}

.module {
	margin-right: 0px;
}